venv
.env

core/__pycache__
content_generation/__pycache__
videos/__pycache__
quizzes/__pycache__
user_profiles/__pycache__

migrations
# core/migrations
# content_generation/migrations
# videos/migrations
# quizzes/migrations
# user_profiles/migrations

db.sqlite3
